<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<connectionStrings>
		<add name="DB_Context" connectionString="Data Source=PTSXD2001\SQLEXPRESS;Initial Catalog=Infineon_WMP;Persist Security Info=True;User ID=sa;Password=sa123;Integrated Security=False;" providerName="System.Data.SqlClient" />
		<add name="DB_Context_Debug" connectionString="Data Source=UN-FP-CL-P3023\SQLEXPRESS;Initial Catalog=Infineon_WMP;Persist Security Info=True;User ID=sa;Password=sa123;Integrated Security=False;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<log4net>
		<appender name="LogAppender" type="log4net.Appender.RollingFileAppender">
			<file value=".\Log\GEMPro.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="5MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5p %d: %m%n" />
			</layout>
		</appender>
		<logger name="GEMProLog">
			<level value="All" />
			<appender-ref ref="LogAppender" />
		</logger>
	</log4net>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	
  <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	
          <dependentAssembly>
	
              <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
	
          </dependentAssembly>
	
      </assemblyBinding>
	
  </runtime>

	<appSettings>
		<!--Value Definition-->
		<!--0. False-->
		<!--1. True-->
		<add key="EnableAutoConnectSecsGem" value="1" />
		
		<!--Value Definition-->
		<!--0. False-->
		<!--1. True-->
		<add key="EnableAutoConnectPTL" value="1" />
		
		<!--DB Checking-->
		<!--0. Disable-->
		<!--1. Enable-->
		<add key="DBChecking" value="1" />
		
		<!--Bypass Login-->
		<!--0. Disable-->
		<!--1. Enable-->
		<add key="BypassLogin" value="0" />
		
		<!--Alarm-->
		<!--0. Disable-->
		<!--1. Enable-->
		<add key="EnableAlarm" value="0" />
		
		<!--AlarmBuzzer-->
		<!--0. Disable-->
		<!--1. Enable-->
		<add key="EnableBuzzer" value="0" />
		
		<!--TowerLight-->
		<!--0. Disable-->
		<!--1. Enable-->
		<add key="EnableTowerLight" value="0" />
		<add key="TowerLightIP" value="10.228.202.7"/>
	
		<!--Bypass Start Job-->
		<!--0. Disable-->
		<!--1. Enable-->
		<add key="BypassStartJob" value="0" />

		<!--Enhance Carrier Logic-->
		<!--0. Disable-->
		<!--1. Enable-->
		<add key="EnhanceCarrierLogic" value="0" />

		<!--Barcode Login Time (s)-->
		<add key="BarcodeLoginTime" value="1" />
	</appSettings>
	
</configuration>